

$text-fine: .25em;
$text-xs: .5em;
$text-sm: .75em;
$text-base: 1em;;
$text-lg: 1.25em;
$text-xl: 1.5em;
$text-xxl: 1.75;

$head-xxs: 2em;
$head-xs: 2.25em;
$head-sm: 2.5em;
$head-mds: 2.75em;
$head-md: 3em;
$head-mdl: 3.25em;
$head-lg: 3.5em;
$head-xl: 3.75em;
$head-xxl: 4em;