$border-xs: 1px solid black;
$border-sm: 2px solid black;
$border-md: 3px solid black;
$border-lg: 4px solid black;
$border-xl: 5px solid black;

$radius-lt: .4rem;
$radius-md: .6rem;
$radius-hv: .8rem;
$radius-full: 1rem;

$radius-circle: 100%;