// Transparent Blue
$azure: rgba(176, 250, 250, 0.8);
//Light Blues
$aquamarine: rgb(127, 255, 255);
$electric: rgb(125, 249, 255);
$alice: rgb(156, 214, 228);

//Moderate blues
$royal: rgb(65, 105, 225);
$dodger: rgb(30, 144, 255);
// Dark blues
$iris: rgb(93, 64, 212);
$midnight: rgb(25, 25, 112);

// Light Greens
$pale-green: rgb(193, 225, 193);
$chartreuse:  rgb(223, 255, 0);
$lawn: rgb(124, 252, 0);
$minty-green: rgba(166, 255, 178, .8);

// Moderate Greens
$emerald: rgb(80, 200, 120);
$lime: rgb(50, 205, 50);

// Dark Greens
$x: rgba(45, 90, 20, 0.4);

// Dark Reds
$mahogany: rgb(194, 65, 0);
$redbrown: rgb(165, 42, 42);
$ochre: rgb(143, 55, 48);
$cardinal: rgb(194, 30, 58);
$Crimson: rgb(220, 20, 60);

//Tan
$wheat: rgb(245, 222, 179);

// Pink 
$fushia: rgb(255, 0, 255);

//Light Purples
$periwinkle: rgb(204, 204, 255);
$lavender: rgb(230, 230, 250);

// Dark Purples
$indigo: rgb(75, 0, 130);
$rebecca: rgb(102, 51, 153);

// Grays and Silvers; 
$quicksilver: rgb(166, 166, 166);

// Whites and Light grays 
$white: rgb(255, 255, 255);
$lightgray: rgb(211, 211, 211);
$lightgraycyan: rgb(206, 242, 234);

// Blacks and Dark grays
$charcoal: rgb(54, 69, 79);
$darkgraycyan: rgb(82, 99, 87);

