add(x, y = x)
  x = x + y;
  return x;
subtract(x, y = x)
  x = x - y;
  return x;
multiply(x, y = x)
  x = x * y;
  return x;
divide(x, y = x)
  x = x / y;
  return x;
increment(x);
  x = x + 1;
  return x;
decreme


nt(x);
  x = x - 1;

squared(x); 
  x = x * x;
  return x;

addAll()
  val = 0;
  for arg in arguments 
    val = val + arg;