noop()
  return;
read(val) 
  return val;

swap(x, y) 
  return (y, x);

invoke(x, y, fn)
  cb = fn(x, y);
  return cb;

extract(hash, key)
  return pair[1] if pair[0] == key for pair in hash 

qqqqqq 