.container .container-col .container-row {
    display: flex;
}

/* Classes for each column size. */

.col-1{
    flex: 1;
}

.col-2{
    flex: 2;
}
.col-3 {
    flex: 3;
}

.row-1 {
    flex: 1;
}
.row-2 {
    flex: 2;
}
.row-3 {
    flex: 3;
}
@media (max-width: 800px){
    .container-col{
        /* Turn the horizontal layout into a vertical one. */
        flex-direction: column;     
    }
    .container-row{
        flex-direction:row;
    }
}